.container{
    display: flex;
    flex-direction: column;
    padding: 1rem;
    border: 6px solid rgb(208, 78, 100)
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center

}
.relleno{
    padding-right: 150px

}
img{
    clip-path: polygon(50% 0%, 83% 12%, 100% 43%, 94% 78%, 68% 100%, 32% 100%, 6% 78%, 0% 43%, 17% 12%);
    object-fit: contain;
    border-radius: 1rem;
    padding: 1rem;
}
body{
    font-family: 'Almarai', sans-serif;
}